<%- include('base_header') -%>

<h1>Lista de Usuários dos Bancos de Dados</h1>

<ul>
    <% for (const dbName in users) { %>
        <li><strong><%= dbName %>:</strong></li>
        <ul>
            <% users[dbName].forEach(user => { %>
                <li>Natureza do Chamado: <%= user.natureza_chamado %>, Descrição: <%= user.descricao %></li>
            <% }); %>
        </ul>
    <% } %>
</ul>

<%- include('base_footer') -%>
